Button {
    -fx-focus-traversable: false;
}

.invisible {
    visibility: hidden;
}

BorderPane {
    -fx-pref-width: 1080px;
    -fx-pref-height: 720px;
    -fx-font-size: 20px;
}

.top-bar {
    -fx-padding: 10px 30px;
    -fx-spacing: 10px;
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.score {
    -fx-font-size: 30px;
}

GridPane {
    -fx-alignment: center;
}

.wrapper {
    -fx-background-color: #578a34;
}

.playing-field {
    -fx-background-color: #aad750;
}

.popup-label {
    -fx-padding: 0 15px;
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-text-fill: white;
}

.dark {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.snake {
    -fx-background-color: #4774ea;
}

.dead-snake {
    -fx-background-color: yellow;
}

.head {
    -fx-background-color: #302cd2;
}

.food {
    -fx-background-color: red;
}

.obstacle {
    -fx-background-color: black;
}
